*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./City_Landscape_Background.webp);
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}
input{
    background: transparent;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 5px;
}
button{
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid orange;
    background:orange;
    color:black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

button:hover{
    background-color: white;
}
.navbar{
    width: 85%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: aqua;
    border-radius: 20px;
}
.navbar ul li{
    display: inline-block;
    margin: 20px 10px;
    padding: 7px auto;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #000;
}
.navbar ul li::after{
    width:0;
    background-color: white;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    transition: 0.5s;
    content: "";
}
.navbar ul li:hover::after{
    width: 100%;
}